<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project</title>
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/bootstrap.min.css')}}">
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/Pretty-Footer.css')}}">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/Pretty-Registration-Form.css')}}">
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/seatsel.css')}}">
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/Google-Style-Login.css')}}">
</head>

<body>
    <div></div>
    <nav class="navbar navbar-inverse navbar-static-top" id="companylogo">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#" id="comlogo"><strong>Deadpool Airlines</strong></a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation">
                        <a class="text-uppercase" href="/editpage" target="_parent"> <img src="/static/images/avatar_2x.png" id="logo">edit profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div></div>
    <div>
        <div class="jumbotron" id="promo">
            <p>Next Flight :</p>
            <div class="row" id="flight2">
                <div class="col-md-2">
                    <p>BA2490 </p>
                </div>
                <div class="col-md-2">
                    <p>Chennai International </p>
                </div>
                <div class="col-md-2">
                    <p>Mumbai Terminal </p>
                </div>
                <div class="col-md-2">
                    <p>03:30</p>
                </div>
                <div class="col-md-2"><a class="btn btn-primary btn-lg" role="button" href="/liveticket">Select Seat</a></div>
            </div>
            <ul id="bookings">
</ul>


            <p>Upcoming Flights :</p>
            <div class="table-responsive" id="flights">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Flight Number</th>
                            <th>From </th>
                            <th>To </th>
                            <th>Departure Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>XZ4321 </td>
                            <td>Mumbai Terminal </td>
                            <td>Goa Pacific </td>
                            <td>08:00 </td>
                        </tr>
                        <tr>
                            <td> DS9980</td>
                            <td>Goa Pacific </td>
                            <td>Newark Airpot </td>
                            <td>12:00 </td>
                        </tr>
                        <tr>
                            <td>EA6663 </td>
                            <td>Newark Airpot </td>
                            <td>Jfk International </td>
                            <td>18:00 </td>
                        </tr>
                        <tr>
                            <td>BA2498 </td>
                            <td>Jfk International </td>
                            <td>Chennai International </td>
                            <td>23:30 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script src="assets/js/bookingscript.js"></script>
</body>

</html>