<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project</title>
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/bootstrap.min.css')}}">
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/Pretty-Footer.css')}}">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/Pretty-Registration-Form.css')}}">
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/seatsel.css')}}">
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/Google-Style-Login.css')}}">

</head>

<body background href="{{ url_for('static', filename='images/background.jpg')}}">
    <div></div>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#"><strong>Deadpool Airlines</strong></a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation"><a href="#">BOOK </a></li>
                    <li role="presentation"><a href="#">MY TRIP</a></li>
                    <li role="presentation"><a class="text-uppercase" href="/login" target="_parent">Login </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div></div>
    <div>
        <div class="jumbotron" id="promo">
            <h1>Great Offer!</h1>
            <p> We have a special offer for all our passengers. Book your tickets now .</p>
            <p></p>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"><a class="btn btn-info btn-lg" role="button" href="/Promo">Get 25% off </a></div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Deadpool Airlines </h1></div>
    <p class="text-center"> Founded in 1905 in Berlin,Germany. Deadpool Airlines focises on providing graceful services to passsengers. </p>
    <footer>
        <div class="row">
            <div class="col-md-4 col-sm-6 footer-navigation">
                <h3><a href="#">Company<span>logo </span></a></h3>
                <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Flights </a><strong> · </strong><a href="#">Pricing</a><strong> · </strong><a href="#">About</a><strong> · </strong><a href="#">Faq</a><strong> · </strong><a href="#">Contact</a></p>
                <p
                class="company-name">Deadpool Airlines© 1929</p>
            </div>
            <div class="col-md-4 col-sm-6 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span">21 JumpStreet</span> Berlin, Germany</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> +91 9600633462</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="#" target="_blank">support@deadpoolarlines.com</a></p>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 footer-about">
                <h4>About the company</h4>
                <p>Deadpool was released in 2016. It was revolutionary movie.</p>
                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

</body>

</html>