<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project</title>
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/bootstrap.min.css')}}">
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/Pretty-Footer.css')}}">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/Pretty-Registration-Form.css')}}">
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/seatsel.css')}}">
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/Google-Style-Login.css')}}">
</head>

<body>
    <div class="login-card"><img src="/static/images/avatar_2x.png" class="profile-img-card">
        <p class="profile-name-card"> </p>
        <form class="form-signin"><span class="reauth-email"> </span>
            <input class="form-control" type="email" required="" placeholder="Email address" minlength="8" autofocus="" id="inputEmail">
            <input class="form-control" type="password" required="" placeholder="Password" minlength="8" id="inputPassword">
            <div class="checkbox">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">Remember me</label>
                </div>
            </div><a class="btn btn-primary btn-block btn-lg btn-signin" role="button" href="/booking">Login </a></form><a href="#" class="forgot-password">Forgot your password?</a><a class="btn btn-primary btn-block btn-lg btn-signin" role="button" href="signup">Sign up</a></div>
    <script
    src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/script.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
        <script src="assets/js/bookingscript.js"></script>
</body>

</html>