<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project</title>
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/bootstrap.min.css')}}">
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/Pretty-Footer.css')}}">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/Pretty-Registration-Form.css')}}">
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/seatsel.css')}}">
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/Google-Style-Login.css')}}">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#"><strong>Deadpool Airlines</strong></a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation"><a href="#">BOOK </a></li>
                    <li role="presentation"><a href="#">MY TRIP</a></li>
                    <li role="presentation"><a class="text-uppercase" href="login.html" target="_parent">Login </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron" id="promo"><img src="/static/images/dubai.jpg" id="dubai">
        <p class="text-center"> Fly to Dubai @35,990/- only. Book your tickets now .</p>
        <p></p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><a class="btn btn-info btn-lg" role="button" href="promo.html">Get 25% off </a></div>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6"><img src="/static/images/new york.jpg" id="newyork"></div>
                <div class="col-md-6"><img src="/static/images/germany.jpg" id="germany"></div>
                <div class="col-md-6">
                    <p class="text-center"> Fly to New York@74,990/- only. Book your tickets now .</p><a class="btn btn-info btn-lg" role="button" href="promo.html">Get 30% off </a></div>
                <div class="col-md-6">
                    <p class="text-center"> Fly to Germay @49,990/- only. Book your tickets now .</p><a class="btn btn-info btn-lg" role="button" href="promo.html">Get 15% off </a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="text-right"> </p>
            </div>
            <div class="col-md-6">
                <p class="text-right">*conditions apply</p>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script src="assets/js/bookingscript.js"></script>
</body>

</html>