#holder{
  height:200px;
  width:550px;
  background-color:#F5F5F5;
  border:1px solid #A4A4A4;
  margin-left:350px;
}

#place{
  position:relative;
  margin:7px;
}

#place a{
  font-size:0.6em;
}

#place li{
  list-style:none outside none;
  position:absolute;
}

#place li:hover{
  background-color:yellow;
}

#place .seat{
  background:url(../../assets/img/available_seat_img.gif) no-repeat scroll 0 0 transparent;
  height:33px;
  width:33px;
  display:block;
}

#place .selectedSeat{
  background-image:url(../../assets/img/booked_seat_img.gif);
}

#place .selectingSeat{
  background-image:url(../../assets/img/selected_seat_img.gif);
}

#place .row-3, #place .row-4{
  margin-top:10px;
}

#seatDescription li{
  verticle-align:middle;
  list-style:none outside none;
  padding-left:45px;
  height:35px;
  float:left;
}

